<footer>
    <div class="footer-copy">
        <div class="footer-copy-text">
            지애뇨711<br>
            우.00000 서울특별시 종로구 평창길 안알랴줌 (평창동) | TEL. 02-379-0000 | MAIL. callmebaby@exo.com<br>
            Copyright 2017 jyeno | All Rights Reserved |
        </div>
        <div class="top-arrow">
            <i class="fa fa-angle-up"></i>
        </div>
    </div>
</footer>
