<footer>
    <div class="footer-copy">
        <div class="footer-copy-text">
            수애뇨339<br>
            우.03003 서울특별시 종로구 평창길 339 (평창동) | TEL. 02-379-2970 | MAIL. g.sueno339@gmail.com<br>
            Copyright 2017 sueño339 | All Rights Reserved |
        </div>
    </div>
</footer>
