<header>
    <img class="header-menu-logo" src="./img/logo_195x65.png">
    <ul class="header-menu">
       <li>ABOUT</li>
       <li>EXHIBITION</li>
       <li>ARTISTS</li>
       <li>NEWS</li>
       <li>CONTACT</li>
    </ul>
</header>