<li>
    <div class="header-menu-text">
        {{name}}
    </div>
    {{#if sub}}
    <ul class="header-sub-menu">
        {{#each subMenu}}
            <li menu-id="{{id}}">{{name}}</li>
        {{/each}}
    </ul>
    {{/if}}
</li>