<li>
    <div class="exhibition-img">
        <img src="../img/{{img}}">
    </div>
    <div class="exhibition-text">
        <div class="exhibition-title">{{title}}</div>
        <div class="exhibition-date">{{dateDT}}</div>
    </div>
</li>