@import 'common.less';
@import './contents/contents-introduce.less';

body {
  background-color: #fafbf8;
}

.past-exhibition-container {
  margin: 225px auto;
  width: 70%;
}

.exhibition-box {
  height: 600px;
}

.exhibition-box > ul {
  display: inline-block;
  vertical-align: top;
}

.exhibition-date-tab {
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  margin-right: 50px;
  width: 100px;
}

.exhibition-date-tab > li {
  padding: 5px 0;
  color: #bbb;
  cursor: pointer;
}

.exhibition-date-tab > li.active {
  margin: 3px 0;
  color: #000;
}

.exhibition-templates {
  width: 900px;
}

.exhibition-img > img {
  min-width: 85%;
  height: auto;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.07);
}

.exhibition-templates > li {
  display: inline-block;
  margin-right: 100px;
}

.exhibition-templates > li:nth-child(3) {
  margin-right: 0;
}

.exhibition-text {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  width: 230px;
}

.exhibition-title {
  vertical-align: top;
  font-weight: bold;
}

.exhibition-date {
  padding: 5px;
  font-size: 12px;
}
