@import './contents/contents-introduce';

#map {
  margin-top: @header-height;
  height: 600px;
  width: 100%;
}

.contents-title {
  margin: 0 auto;
}

.contents-title-text {
  margin-bottom: 75px;
}

.location-info-box {
  width: 100%;
  padding: 20px;
}

.location-info-box > li {
  margin: 0 17px;
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  display: inline-block;
  width: 30%;
  height: 150px;
  text-align: center;
  vertical-align: top;
}

.location-info > li:first-child {
  padding-top: 25px;
  font-size: 18px;
  font-weight: bold;
}

.location-info > li {
  padding: 10px 0;
  font-size: 13px;
}