@import './contents/contents-introduce';

#map {
  margin-top: @header-height;
  height: 600px;
  width: 100%;
}

.contents-title {
  margin: 0 auto;
}

.contents-title-text {
  margin-bottom: 75px;
}

.location-info-box {
  width: 100%;
  padding: 20px;
}

.location-info-box > li {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  vertical-align: top;
}

.location-info > li:first-child {
  font-size: 18px;
}

.location-info > li {
  padding: 10px 0;
  font-size: 12px;
}