@import 'common.less';
@import 'main-carousel';

.main-container {
  position: relative;
  margin-top: @header-height;
  height: 750px;
  width: 100%;
}

.btn-slide {
  position: absolute;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background-color: #999999;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.main-container:hover {

  .btn-slide {
    display: block;
  }

  .btn-slide:hover {
    background-color: #777777;
  }
}

.btn-slide .fa {
  display: inline-block;
  font-size: 35px;
  color: #ffffff;
}

.btn-slide-left {
  left: 100px;
}

.btn-slide-right {
  right: 100px;
}

.main-photos .main-contents {
  height: 1000px;
}

.main-photos .main-contents > li {
  height: 1000px;
}

/*.main-contents {
  text-align: center;
  cursor: pointer;
}

.main-contents > li {
  display: none;
}

.main-contents > li.active {
  display: block;
}*/

/*.main-contents > li > img {
  height: 40%;
}*/

.main-text {
  margin: 100px 0;
  color: @font-color;
  font-family: serif;
  text-align: center;
  letter-spacing: -1px;
}

.main-exhibition-name {
  cursor: pointer;
  font-size: 30px;
}

.main-exhibition-date {
  cursor: pointer;
  font-size: 14px;
}

.main-exhibition-name:hover {
  color: #000000;
}

.main-exhibition-date:hover {
  color: #000000;
}
