@import 'common.less';
@import './contents/contents-introduce';

.news-table-box {
  margin: 200px auto;
  height: 300px;
  width: 1100px;
}

.news-table > thead {
  background-color: rgb(251,251,251);
}