<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 | 지애뇨711</title>
</head>
<body>
{{> template/header }}
<div class="contents-title">
    <div class="artist-contents-title">Artist Exhibited</div>
    <div class="artist-tab-container">
        <ul class="artist-tab-btn">
        </ul>
        <ul class="artist-tab-img">
        </ul>
    </div>
</div>
{{> template/footer }}
</body>
</html>