<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 | 지애뇨711</title>
</head>
<body>
{{> template/header }}
<div class="contents-title">
    <div class="artist-contents-title">Artist Exhibited</div>
    <div class="artist-tab-container">
        <ul class="artist-tab-btn">
            <li class="active">MinSeok Kim</li>
            <li>JunMyeon Kim</li>
            <li>BackHyun Baek</li>
            <li>JongDae Kim</li>
            <li>ChanYeol Park</li>
            <li>KyungSoo Do</li>
            <li>JongIn Kim</li>
            <li>SeHun Oh</li>
        </ul>
        <ul class="artist-tab-img">
            <li class="active">99</li>
            <li>01</li>
            <li>04</li>
            <li>21</li>
            <li>61</li>
            <li>12</li>
            <li>88</li>
            <li>94</li>
        </ul>
    </div>
</div>
{{> template/footer }}
</body>
</html>