<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 | 지애뇨711</title>
</head>
<body>
{{> template/header }}
<div class="contents-title">
    <div class="contents-title-text">
        Contact
    </div>
    <form class="contact-form-box">
        <div class="form-group">
            <label for="contact-name">Name*</label>
            <input type="text" class="form-control" id="contact-name" placeholder="이름(필수사항)">
        </div>
        <div class="form-group">
            <label for="contact-email">Email*</label>
            <input type="email" class="form-control" id="contact-email" placeholder="이메일(필수사항)">
        </div>
        <div class="form-group">
            <label for="contact-title">Title</label>
            <input type="text" class="form-control" id="contact-title" placeholder="제목">
        </div>
        <div class="form-group">
            <label for="contact-text">Message</label>
            <textarea type="text" class="form-control" id="contact-text" placeholder="내용"></textarea>
        </div>
    </form>
    <button class="btn btn-primary btn-lg">SEND</button>
    <div class="contact-info-box">
        <div class="contact-info-title">Address</div>
        <div>(우)00000, 누구도 손댈수 없게</div>
        <div class="contact-info-title">Contact details</div>
        <div>
            Email_ijy5711@gmail.com<br>
            Phone_010-8888-8888
        </div>
        <div class="contact-info-title">Social media</div>
        <div>icons</div>
    </div>
</div>
{{> template/footer }}
</body>
</html>