<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<div class="contents-title">
    <div class="contents-title-text">
        <h2>현재 전시</h2>
    </div>
</div>
<div>
    <section class="main-container">
        <div class="btn-slide btn-slide-left">
            <i class="fa fa-angle-left"></i>
        </div>
        <ul class="exhibition-contents">
        </ul>
        <div class="btn-slide btn-slide-right">
            <i class="fa fa-angle-right"></i>
        </div>
    </section>
</div>
<div></div>
<div></div>
{{> template/footer }}
</body>
</html>