<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 | 지애뇨711</title>
</head>
<body>
{{> template/header }}
<div class="contents-title">
    <div class="contents-title-text">
        <h2>현재 전시</h2>
    </div>
</div>
<div>
    <section class="main-container">
        <div class="btn-slide btn-slide-left">
            <i class="fa fa-angle-left"></i>
        </div>
        <ul class="exhibition-contents">
        </ul>
        <div class="btn-slide btn-slide-right">
            <i class="fa fa-angle-right"></i>
        </div>
    </section>
</div>
<div class="main-text exhibition-textbox">
    <div class="exhibition-introduce">
        <div class="exhibition-name">ground</div>
        <div>이겨레</div>
    </div>
    <div class="exhibition-introduce">
        2017년 6월 29일 (목) – 7월 21일 (금)<br>
        월요일 휴관 |오전 11시- 오후 7시
    </div>
    <div class="exhibition-introduce exhibition-preface">
        <div class="exhibition-name">전시 서문</div>
        <div class="exhibition-introduce-text">서구에서 회화를 뜻하는 페인팅(painting)의 원뜻은 ‘색을 칠하다’이다.
            회화에서 작가는 캔버스 바탕 위에 물리적으로 물감을 칠하고 색의 구분을 통해 그림을 그려나간다.
            그러나 감상자는 종종 구체화된 대상의 모습을 물감의 덩어리가 아닌 생동하며 움직이는 인물, 혹은 영원히 멈춰진 시간 속에 박제된 생물 등으로 인식한다.
            이 간극에서 작가에게는 어떻게 하면 더 화려한 눈속임 속에 오래도록 관객을 머물게 할지, 혹은 이 거짓된 화면 안에서 벌어지는 일들을 폭로할 것인지의 두 가지 선택지가 주어진다.
            이겨레 작가는 전자와 후자 두 개념 사이를 오가는 페인팅을 보여준다.[…]</div>
    </div>
    <ul class="button-exhibition">
        <li>
            전시서문 전체보기
        </li>
    </ul>
</div>
{{> template/footer }}
</body>
</html>