<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 | 지애뇨711</title>
</head>
<body>
{{> template/header }}
<section>
    <div class="contents-title">
        <div class="contents-title-text">
            <h1>인사말</h1>
        </div>
        <div class="greeting-contents">
            <ul class="greeting-introduce">
                <li>
                    <img src="./img/sueno.png">
                </li>
                <li>
                    <img src="./img/sueno-logo-paper.png">
                </li>
            </ul>
            <div class="greeting-text">
                <p>‘터’는 만남과 이어짐의 공간입니다.<br>
                    사람을 만나고 생각을 만나 우리로 이어지는 공간입니다.<br>
                    ‘터’는 담음과 펼침의 공간입니다.<br>
                    인생을 담고 소망을 담아 꿈으로 펼치는 공간입니다.</p>

                <p>‘나’는 삶의 터전이었습니다.<br>
                    일상의 흔적들을 남기며 한 가족이 20년 넘는 세월을 보낸 곳이었습니다.</p>

                <p>이제 ‘나’는 ‘드리밍(dream :꿈) 711’로 거듭납니다.<br>
                    다양한 예술을 만나고 체험하며 조금 더 풍성한 세상으로 이어지는 터전이 되는 꿈을 꾸어봅니다.</p>

                <p>From the base of living to the space where dreams come true<br>
                    ‘Ground’ is the space where people meet and relationships continue.<br>
                    ‘Ground’ is where things end and begin.<br>
                    It is where life and hope are bottled and let out as a dream.</p>

                <p>‘Pyeongchang-gil 339’ has been the ground of living.<br>
                    It was the place where a family spent almost 30 years leaving traces of their daily lives.</p>

                <p>From now on, ‘Pyeongchang-gil 339’ will become ‘Sueño 339’.<br>
                    The dream is to become the ground which leads to more prosperous world while meeting and experiencing various art.</p>
            </div>
        </div>
    </div>
</section>
{{> template/footer }}
</body>
</html>