<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>수애뇨339 | 수애뇨339</title>
</head>
<body>
{{> template/header}}
<section class="main-container">
    <ul class="main-contents">
        <li class="main-slide-left">
            <div class="btn-slide">
                <i class="fa fa-angle-left"></i>
            </div>
        </li>
        <li class="main-slide-img" style="background-image: url(./img/mainimg.jpg)">
        </li>
        <li class="main-slide-right">
            <div class="btn-slide">
                <i class="fa fa-angle-right"></i>
            </div>
        </li>
    </ul>
</section>
<section class="main-text">
    <div class="main-exhibition-name">ground</div>
    <div class="main-exhibition-date">June 29 - July 21 , 2017</div>
</section>
{{> template/footer}}
</body>
</html>