<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 | 지애뇨711</title>
</head>
<body>
{{> template/header}}
<section class="main-container">
    <div class="main-photos">
        <ul class="main-carousel">
            <li style="background-image: url(./img/detail-1.jpg)"></li>
        </ul>
    </div>
    <div class="btn-slide left">
        <i class="fa fa-angle-left"></i>
    </div>
    <div class="btn-slide right">
        <i class="fa fa-angle-right"></i>
    </div>
</section>
<div class="main-textbox">
    <section class="main-text">
        <div class="main-exhibition-name">autumn</div>
        <div class="main-exhibition-date">July 5 - July 31 , 2017</div>
    </section>
</div>
{{> template/footer}}
</body>
</html>