<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 | 지애뇨711</title>
</head>
<body>
{{> template/header }}
<div id="map"></div>
<section class="contents-title">
    <div class="contents-title-text">
        <h2>오시는길</h2>
    </div>
    <ul class="location-info-box">
        <li>
            <ul class="location-info">
                <li>Address</li>
                <li>
                    서울시 종로구 평창길 339<br>
                    339, Pyeongchang-gil, Jongno-gu, Seoul,<br>
                    Republic of Korea
                </li>
            </ul>
        </li>
        <li>
            <ul class="location-info">
                <li>Contact</li>
                <li>
                    T  +82 2 379 2970<br>
                    M  hola@sueno339.com
                </li>
            </ul>
        </li>
        <li>
            <ul class="location-info">
                <li>Opening Hours</li>
                <li>
                    Opening Hours<br>
                    11 am – 7 pm
                </li>
            </ul>
        </li>
    </ul>
    <div class="location-text-box">
        <div class="location-text">
            <ul class="location-text-traffic">
                <div class="location-text-road">대중교통</div>
                <li class="gung">경복궁역 출발</li>
                <li>경복궁역 3번 출구에서 1711번 혹은 1020번 버스 승차 후 평창동 삼성아파트 하차.</li>
                <li class="gill">길음역 출발</li>
                <li>길음역 5번 또는 6번 출구에서 153번 혹은 7211번 버스 승차 후 롯데아파트 하차.</li>
            </ul>
            <ul class="location-text-car">
                <div class="location-text-road">자가용</div>
                <li class="way">국민대 -> 상명대 방향</li>
                <li>국민대학교에서 상명대학교 방향으로 북악터널에서 나오자마자 우측 김영희강남동태찜을 끼고 골목 진입하여 약 150M 직진하면 보이는 우측 흰 색 건물.</li>
                <li class="way">상명대 -> 국민대 방향</li>
                <li>상명대학교에서 국민대학교 방향으로 직진 후 북악터널 바로 전의 좌측 김영희강남동태찜을 끼고 골목 진입하여 약 150M 직진하면 보이는 우측 흰 색 건물.</li>
            </ul>
        </div>
        <div class="location-map">
            <img class="location-map-img" src="./img/map.jpg">
        </div>
    </div>
</section>
{{> template/footer }}
</body>
</html>