<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 | 지애뇨711</title>
</head>
<body>
{{> template/header }}
<div class="contents-title">
    <div class="news-table-box table-responsive">
        <table class="news-table table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>웃기네</td>
                    <td>웃기는소리하네</td>
                    <td>66</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{> template/footer }}
</body>
</html>