<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 || 지애뇨711</title>
</head>
<body>
{{> template/header }}
<section class="contents-title">
    <div class="contents-title-text">
        <h2>공간 소개</h2>
    </div>
    <div class="contents-line"></div>
    <ul class="space-image">
        <li>
            <img src="./img/space_1.jpg">
        </li>
        <li>
            <img src="./img/space_2.jpg">
        </li>
        <li>
            <img src="./img/space_3.jpg">
        </li>
    </ul>
</section>
{{> template/footer }}
</body>
</html>