<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지애뇨711 | 지애뇨711</title>
</head>
<body>
{{> template/header }}
<div class="contents-title">
    <div>img</div>
    <div>
        <div>한황수개인전</div>
        <div>2017.7.27 - 2017.8.16</div>
    </div>
</div>
{{> template/footer }}
</body>
</html>